body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
@media (min-width: 550px) {
  .header .split {
    height: 60px;
    width: 50%;
    position: absolute;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .header .left {
    left: 0;
    background-color: #ffffff;
  }

  .header .right {
    right: 0;
    background-color: #36405e;
  }

  .header .centered {
    position: absolute;
  }
  .header {
    display: flex;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 60px;
    position: sticky;
  }
  .logo {
    display: flex;
    width: 11%;
    height: inherit;
    margin-left: 10px;
    color: #36405e;
  }
  .logo h2 {
    margin-top: 12px;
  }
  .register {
    display: flex;
    float: right;
    justify-content: space-between;
    width: 0%;
    font-family: "Lato", sans-serif;
  }
  .register a button {
    cursor: pointer;
    margin: 15px auto;
    padding: 6px;
    width: 80px;
    border: none;
    background: #ffffff;
    color: #36405e;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(21, 170, 224, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2);
  }
  .register .signup {
    margin-right: 20px;
  }
  #content {
    z-index: 1;
  }
  main {
    clear: both;
    background-position: center;
    height: 400px;
    background-size: cover;
    color: rgb(8, 8, 8);
    border-bottom: 5px solid #36405e;
  }

  main .split {
    height: 490px;
    width: 50%;
    position: absolute;
    overflow-x: hidden;
    padding-top: 20px;
  }

  main .left {
    left: 0;
    background-color: #ffffff;
    border-bottom: 3px solid #36405e;
  }

  main .right {
    right: 0;
    background-image: url("home\ 222.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid #36405e;
  }

  main .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .content {
    max-width: 450px;
    text-align: justify;
  }

  main h2 {
    color: #36405e;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 1.6rem;
  }
  main button {
    background: transparent;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    height: 52px;
    background: #ffffff;
    color: #36405e;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  main button:hover {
    background: #36405e;
    color: #ffffff;
  }
  .grid {
    background: #ffffff;
    color: #36405e;
    text-align: center;
  }
  .box {
    margin-top: 20px;
    float: left;
    padding: 10px;
    text-align: center;
    width: 28%;
    margin-left: 1%;
  }
  section {
    margin-top: 140px;
    margin-bottom: 450px;
  }
  section span {
    font-size: 2em;
  }
  .footer {
    grid-column: span 13;
    grid-row: 1;
    height: 60px;
    position: sticky;
    background: #36405e;
    border: 3px solid #36405e;
  }
  .footer p {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #000;
  }

  .footer p:hover {
    color: #ffff;
  }
}
@media (max-width: 550px) {
  .header {
    display: flex;
    background: #36405e;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 60px;
    position: sticky;
  }
  .header .logo {
    display: flex;
    height: inherit;
    margin-top: 3px;
    font-size: 60%;
    margin-left: 0px;
  }
  .header h2 {
    color: #ffffff;
    margin-top: 15px;
  }
  .register {
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-family: "Lato", sans-serif;
  }

  .register a button {
    cursor: pointer;
    margin: 19px auto;
    padding: 6px;
    width: 80px;
    border: none;
    background: #ffff;
    color: #000;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(21, 170, 224, 0.2),
      0 10px 10px rgba(0, 0, 0, 0.2);
  }
  .register .signup {
    margin-left: 70px;
    margin-right: 10px;
  }
  #content {
    z-index: 1;
  }
  main {
    background-image: url("home 222.jpg");
    color: rgb(8, 8, 8);
    height: 550px;
    overflow-x: hidden;
    clear: both;
    background-position: center;
    background-size: cover;
  }
  .content {
    background: rgba(57, 65, 88, 0.918);
    -moz-box-shadow: 0 0 0 0px rgba(57, 59, 90, 0.918);
    -webkit-box-shadow: 0 0 0 0px rgba(57, 65, 88, 0.918);
    box-shadow: 0 0 0 0px rgba(57, 65, 88, 0.918);
    text-align: justify;
    width: 300px;
    margin: 250px 50px 0px 10px;
    padding: 20px;
    text-align: justify;
  }
  .content h2 {
    color: #ffffff;
    font-weight: 700;
  }
  main h2 {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    line-height: 40px;
    font-size: 2.7ex;
    margin-bottom: 5px;
  }
  main button {
    background: transparent;
    max-width: 200px;
    height: 38;
    padding: 5px;
    background: #ffffff;
    color: #36405e;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
  main button:hover {
    background: #484f65;
    color: #ffffff;
  }
  section {
    margin-bottom: 10px;
    margin-top: 60px;
  }
  section span {
    font-size: 1.5em;
    margin-top: 40px;
  }
  .grid {
    background: #ffffff;
    color: #36405e;
    text-align: center;
  }
  .box {
    float: none;
    text-align: center;
    width: 70%;
    margin-left: 40px;
    margin-top: 20px;
    padding: 10px;
  }
  .footer {
    grid-column: span 13;
    grid-row: 1;
    height: 60px;
    position: sticky;
    background: #36405e;
    border: 3px solid #36405e;
  }
  .footer p {
    margin-top: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #ffff;
  }
}

